<section class="section">
  <div class="row">
    <div class="container">
      <div class="col-lg-12">
        <h1><%= @answer.question.question %></h1>
        <p><%= @answer.answer %></p>
        <p><%= @answer.public %></p>
      </div>
    </div>
  </div>
</section>
