<div class="hero-unit">
  <div class="container text-center">
    <div class="row">
      <a class="btn btn-white" href="">Testing</a>
    </div>
  </div>
</div>
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
       <i class="fa fa-diamond text-center icon"></i>
       <h3>Nam molestie lacinia lorem</h3>
       <p>Morbi vitae congue justo. In eleifend mauris quam, non lacinia velit scelerisque nec. Aenean ut sem ut mauris fermentum blandit vitae vitae velit.</p>
     </div>
     <div class="col-sm-4">
       <i class="fa fa-diamond text-center icon"></i>
       <h3>Nam molestie lacinia lorem</h3>
       <p>Morbi vitae congue justo. In eleifend mauris quam, non lacinia velit scelerisque nec. Aenean ut sem ut mauris fermentum blandit vitae vitae velit.</p>
     </div>
     <div class="col-sm-4">
       <i class="fa fa-diamond text-center icon"></i>
       <h3>Nam molestie lacinia lorem</h3>
       <p>Morbi vitae congue justo. In eleifend mauris quam, non lacinia velit scelerisque nec. Aenean ut sem ut mauris fermentum blandit vitae vitae velit.</p>
     </div>
   </div>
 </div>
</section>
