

<div class="container" style="padding:3em 0;">
  <div class="row">
<div class="well">
<div class="col-lg-4 col-lg-offset-4 text-center">

      <figure>
        <%= image_tag 'monster.png', class: 'img-responsive', style: 'margin-bottom:-4em;' %>
      </figure>
      <h1>Ups... parece que algo anda mal</h1>
      <p style="font-size:18px; font-weight:300;">Pero no todo esta perdido, puedes unirte a la comunidad más grande de investigación y auto-aprendizaje</p>
      <%= link_to "Crea una cuenta aquí", new_user_registration_path, class: "btn btn-primary", style:'font-size:18px; background:#333; border:2px solid #333; color:#00C062; padding:1em 1.5em;' if !user_signed_in?  %>
    </div>
  </div>
</div>

<style>
  body{ background:#00BE66; }
</style>
