$color-green: #00C166;
$color-grey: #D3D3D3;
$right-block-left: 50px;
body{ background: #EEEEED;}

.section-profile{

  margin-top: 0 !important;

  @media (max-width: 640px) {
    margin-left: -20px !important;
  }

  .answer{
    margin-top: -70px;
    font-family: 'Roboto Slab', serif;
    .options{
      position:relative;
      bottom: -84px;
      left: 2px;
      li{margin:0 1px; padding:0;}
      i{
        color: #13baba;
        font-size: 11px;
        padding:3px 5px;
        display: inline-block;
      }
      i.fa-lock{ color: #F35200}
      a{
        padding:3px 5px;
        margin:0;
        display: inline-block;

      }

    }
    .date{
      text-transform: uppercase;
      font-family: 'Roboto', 'Helvetiva Neue', sans-serif;
      background: #181818;
      color: white;
      padding: 8px 5px;
      position: relative;
      bottom: -47px;

      .day{
        font-weight: bold;
        font-size: 22px;
        line-height: 16px;
      }
      .month{
        margin-top: 2px;
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
      }
      .year{
        line-height: 12px;
        font-weight: 200;
        font-size: 13px;
      }
      span{
        display:block;
        text-align: center;
      }
    }
    .number{
      $black-diamond-size: 80px;
      position: relative;
      bottom: -70px;
      margin:30px auto;
      text-align: center;
      width: $black-diamond-size;
      height: $black-diamond-size;
      color: white;
      line-height: $black-diamond-size;
      font-size:24px;
      font-weight: 400;
      background:url(asset_path("profile/black-diamond.png"));
    }
    a.answer-link{
      padding: 60px 20px 40px 20px !important;
      border:1px solid #d5d5d5;
      display: block;
      margin:0 auto;
      color: #333;
      h3{
        font-size:20px !important;
        padding:0;
        margin:0 0 1em 0;
      }
    }
    a.answer-link:hover{
      border:1px solid #d5d5d5;
      background:#181818;
      color: white;
      h3{color:white;}
    }
    p{
  text-align: center;
    }



  }

  h3{
    color: $color-green;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 100;
    color: #555;
    strong{ color: #383838}
  }
  .day-tip-container{
    .tip{
      display: inline-block;
      padding:10px;
      border-top: 1px solid $color-grey;
      border-left: 1px solid $color-grey;
      border-right: 1px solid $color-grey;
    }
    .box{
      padding:30px;
      border: 1px solid $color-grey;
      box-sizing: border-box;

    }
  }
  .container:first-child{padding-top:3em;}
  .container{background: white;}
  .profile-photo-name{
    padding-top:2em;
  }

  // figure img {
  //   z-index:100;
  //   position:absolute;
  //   left:-11px;
  //   top:-11px;
  //   clip-path:  polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  //   -ms-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  //   -moz-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  //   -webkit-clip-path:  polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  //   clip-path: url(#clip);
  //   width:100px;
  //   -ms-transform: rotate(-45deg);
  //   -webkit-transform: rotate(-45deg);
  //   transform: rotate(-45deg);
  //   overflow: hidden;
  // }

  .square  {
    margin-left: 20px;
    border: 1px solid #F3F3F3;
    height:80px;
    width:80px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 100;
    position: relative;
    background: white;

  }

  .right-block{
    top:-80px;
    color: white;
    z-index:10;
    width: calc(100% - #{$right-block-left});

    box-sizing: border-box;
    border-left: 50px solid white;
    border-right: 20px solid white;
    position:relative;
    display:inline-block;
    // background:#333;
    height:80px;
    margin-left:$right-block-left;
    border:1px solid #F3F3F3;

    button{
      background: none;
      color: #00C166;
      border: 2px solid #00C166;
      padding:8px 12px;
    }
    button:hover, button:focus{
      background: #00C166 !important;
      border: 2px solid #00C166 !important;
      color: white;
    }
    .dropdown-container{
      margin:20px 20px 0 0;
    }

    h3{
      line-height: 80px;
      color: $color-green;
      margin: 0 0 0 80px;
      display: inline-block;
      margin-right: 20px;
    }

    p{
      margin-top:30px;
      margin-right: 25px;
      display: inline-block;
      border-left: 1px dotted #585858;
      text-align: center;
      font-size: 22px;
      font-weight: 800;
      line-height: 15px;
      display: block;
      color: $color-green;
      padding-left:15px;
      height: 30px;
      span{
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: block;
        margin-top: 2px;
      }
    }
    p:last-child{border:none;}
    .options{
      a{
        background:#00C166;
        color: white;
        padding:3px 5px;
        font-size: 14px;
        border-radius: 5px;
        margin-bottom:15px;
      }
      span{margin-top:5px;}
      margin-top:25px !important;
    }
  }

  ul.streak-squares{
    margin:0;
    padding:0 30px;
    background:url(asset_path("profile/horizontal-line.png"));

    li{
      display: inline-block;
      list-style: none;
      margin-top: 10px;
      margin-left: 10px;
      a{
        z-index: 900;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background:url(asset_path("profile/l-square.png"));
        color: #23ca7b;
        font-size: 12px;
        font-weight:300;
      }
      a:hover{
        color: white;
        background-position: 30px 0;
      }
    }
  }

  @media (max-width: 640px) {

    .right-block{
      // border-left: 5px solid white;
      // border-right: 5px solid white;
      // overflow: hidden;
      margin-left:6%;
    }
    .square  {
      margin: 0 auto 110px auto;
    }
    h3{
      margin: 0 0 0 20px !important;
      font-size: 17px;
    }
  }

}
