<div id="footer-clear"></div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-center">
        <a target="_blank" href="http://www.kaizendevs.com">
          <figure>
            <%= render 'layouts/footer/svg_kaizendevs' %>
          </figure>
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a target="_blank" href="http://www.makeitreal.camp">
          <figure>
            <%= render 'layouts/footer/svg_makeitreal' %>
          </figure>
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a target="_blank" href="/">
          <figure>
          <%= render 'layouts/footer/svg_cienpreguntas' %>
          </figure>
        </a>
      </div>
    </div>
  </div>
</footer>
