<div id="footer-clear"></div>
<footer class="footer">
  <div class="container">
    <div class="row">
    <div class="col-xs-4 text-center">
        <a target="_blank" href="http://www.kaizendevs.com">
          <figure>
            <svg version="1.1"  x="50%" y="50%" width="139.8px" height="54px" viewBox="0 0 139.8 54" enable-background="new 0 0 139.8 54" xml:space="preserve">
              <rect fill="none" width="139.8" height="54"/>
              <path fill="#9B9B9B" d="M50.3,31c-0.7-0.6-2.4,1.5-4.2,0.8c-0.4,0.1-0.8,0.2-1.3,0.2c-1.2,0-2.3-0.3-3.2-0.7c-0.4,0.3-1,0.5-1.7,0.6
              c-1.5,0.2-2.4-0.5-2.8-0.1c0,0-1.2,2.3-2.2,2.1c-0.4-0.1-0.5-0.5-0.3-0.8c0.2-0.2,0.8,0,1.1-0.5c0.3-0.5,0.2-1.9,1.2-1.9
              c1,0,1.3-0.3,1.7-0.9c0.1-0.2,0.3-0.6,0.6-0.9c-0.6-0.1-1.3-0.6-1.3-1.6c0-0.5,0.3-1.3,0.5-1.3c0.2,0,0.1,0.6,0.8,0.7
              c0.6,0.1,1,0.3,1.2,0.6c0.3-0.1,0.7-0.2,1.2-0.2c1.6,0,2.5,0.8,3.9,0.8c1,0,1.2-0.8,1.7-1.3c-0.2-0.1-0.4-0.1-0.7-0.2
              c-0.9-0.3-1.6-0.6-2.2-1.1c-0.6-0.5-1.1-1.5-0.9-1.7c0.2-0.2,1.3,0.5,2,0.9c0.8,0.5,1.8,1.4,2.2,1.9c0.1-0.1,0.3-0.1,0.5-0.1
              c0.6,0,2.4,1.2,2.4,1.6c0,0.6-0.9,1.3-1.5,1.5c-0.7,0.2-0.9,0-1,0.1C48,29.8,48,30,47.8,30.3c0.1,0.1,0.2,0.2,0.4,0.2
              c0.7-0.1,2-0.9,2.9-0.1C51.6,30.8,51.2,31.7,50.3,31z M90.2,19.7h-2.7v10.4h2.7V19.7z M71.9,30.1l-4.5-5.5l4.1-4.9h-3.3L64.9,24h0
              v-4.3h-2.7v10.4h2.7v-4.5h0l3.5,4.5H71.9z M101.5,30.1v-2.3h-4.4l4.9-8.1h-8.6V22h4.1l-4.9,8.1H101.5z M57.6,45h2l5.3-12.7h-2
              L57.6,45z M58.3,29.9L42.7,45.5L27,29.9l15.6-15.6L58.3,29.9z M42.7,43.4l13.6-13.6L42.7,16.3L29.1,29.9L42.7,43.4z M76.2,38.5
              c0,2.9-2.4,5.2-5.3,5.2h-3.8V33.3h3.8C73.8,33.3,76.2,35.6,76.2,38.5z M73.4,38.5c0-1.9-1.2-2.9-3-2.9h-0.6v5.8h0.6
              C72,41.4,73.4,40.6,73.4,38.5z M104.7,37.4l-0.7-0.2c-0.5-0.2-1.2-0.4-1.2-1c0-0.6,0.7-0.9,1.2-0.9c0.7,0,1.3,0.3,1.8,0.7l1.1-2.1
              c-0.9-0.5-2.2-0.9-3.2-0.9c-2.1,0-3.6,1.4-3.6,3.5c0,2,1.1,2.5,2.8,2.9c0.6,0.2,1.6,0.4,1.6,1.2c0,0.7-0.7,1-1.3,1
              c-0.9,0-1.7-0.5-2.4-1.1l-1.2,2.2c1.1,0.7,2.3,1.2,3.6,1.2c1,0,2.1-0.3,2.9-1c0.8-0.7,1.1-1.8,1.1-2.8
              C107.3,38.5,106.1,37.8,104.7,37.4z M105.3,30.1h5.9v-2.3H108V26h3v-2.3h-3V22h3.2v-2.3h-5.9V30.1z M122.4,19.7v6.3h0l-4.9-6.3h-2.7
              v10.4h2.7v-6.4h0l4.9,6.4h2.7V19.7H122.4z M78.9,43.7h5.9v-2.3h-3.2v-1.8h3v-2.3h-3v-1.7h3.2v-2.3h-5.9V43.7z M80.9,28.3h-3.7
              l-0.7,1.8h-2.9l4-10.4h2.9l3.9,10.4h-2.9L80.9,28.3z M80.2,26.2l-1.1-3.3h0l-1.1,3.3H80.2z M92.8,39.6l-2.5-6.3h-2.9l4.4,10.4h2.1
              l4.4-10.4h-2.9L92.8,39.6z M14.6,26.5c0.6,0,1.1,0.2,1.4,0.6s0.5,1,0.5,1.8c0,0.8-0.2,1.4-0.5,1.8c-0.3,0.4-0.8,0.6-1.4,0.6
              c-0.3,0-0.6-0.1-0.8-0.2c-0.3-0.1-0.5-0.3-0.6-0.5H13l-0.2,0.6h-0.5v-6.7h0.7v1.6c0,0.4,0,0.7,0,1h0C13.4,26.7,13.9,26.5,14.6,26.5z
              M14.5,27.1c-0.5,0-0.8,0.1-1.1,0.4c-0.2,0.3-0.3,0.8-0.3,1.4c0,0.7,0.1,1.1,0.3,1.4s0.6,0.4,1.1,0.4c0.4,0,0.8-0.2,1-0.5
              c0.2-0.3,0.3-0.8,0.3-1.4c0-0.6-0.1-1.1-0.3-1.4C15.2,27.3,14.9,27.1,14.5,27.1z M17,26.6h0.8l1,2.7c0.2,0.6,0.4,1.1,0.4,1.3h0
              c0-0.1,0.1-0.4,0.2-0.8s0.5-1.4,1.2-3.3h0.8l-2,5.4c-0.2,0.5-0.4,0.9-0.7,1.1c-0.3,0.2-0.6,0.3-1,0.3c-0.2,0-0.4,0-0.6-0.1v-0.6
              c0.2,0,0.3,0.1,0.5,0.1c0.5,0,0.8-0.3,1.1-0.8l0.3-0.7L17,26.6z"/>
            </svg>
          </figure>
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <a target="_blank" href="http://www.makeitreal.camp">
          <figure>
            <svg version="1.1"  x="50%" y="50%" width="106.1px" height="54px" viewBox="0 0 106.1 54" enable-background="new 0 0 106.1 54" xml:space="preserve">
            <path fill="#9B9B9B" d="M24.8,31.6l2.1-9.5H27c-0.1,0.7-0.1,1.3-0.1,1.9v7.6h2V20.4h-3.3l-1.9,8.8h-0.1l-1.9-8.8h-3.2v11.2h1.9v-7.5
            c0-0.6,0-1.3-0.1-2h0.1l2.1,9.5H24.8z M38.1,31.6l-2.8-11.3h-2.8l-2.8,11.3h2.1l0.6-2.8h2.9l0.6,2.8H38.1z M32.9,27
            c0.4-1.9,0.7-3.1,0.8-3.6c0.1-0.5,0.2-1,0.3-1.5c0,0.2,0.1,0.6,0.2,1.3c0.1,0.6,0.2,1,0.2,1.2L35,27H32.9z M43.3,25.3l2.6-4.9h-2.2
            l-1.9,3.9L41.1,26v-5.6H39v11.2h2.1v-4l0.8-0.8l1.8,4.8H46L43.3,25.3z M51.9,29.8h-3v-3.1h2.8v-1.8h-2.8v-2.7h3v-1.8h-5.1v11.2h5.1
            V29.8z M67.2,27.3l1.8,4.4h2.2L69,26.7c1-0.6,1.4-1.6,1.4-3c0-1.1-0.3-2-0.8-2.5c-0.5-0.5-1.4-0.8-2.6-0.8h-2.7v11.2h2.1v-4.4H67.2z
            M66.4,22.2h0.5c0.5,0,0.8,0.1,1.1,0.4c0.2,0.2,0.3,0.7,0.3,1.2c0,0.6-0.1,1-0.3,1.2c-0.2,0.3-0.6,0.4-1.1,0.4h-0.5V22.2z
            M77.1,29.8h-3v-3.1h2.8v-1.8h-2.8v-2.7h3v-1.8H72v11.2h5.1V29.8z M86,31.6l-2.8-11.3h-2.8l-2.8,11.3h2.1l0.6-2.8h2.9l0.6,2.8H86z
            M80.7,27c0.4-1.9,0.7-3.1,0.8-3.6c0.1-0.5,0.2-1,0.3-1.5c0,0.2,0.1,0.6,0.2,1.3c0.1,0.6,0.2,1,0.2,1.2l0.6,2.6H80.7z M91.8,31.6
            v-1.8h-2.9v-9.4h-2.1v11.2H91.8z M74.6,37.4c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2c0.1-0.1,0.2-0.3,0.2-0.5
            c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.4,0.1-0.5,0.2c-0.1,0.1-0.2,0.3-0.2,0.5C74.4,37.1,74.5,37.3,74.6,37.4z
            M78.5,37.3v-0.9c-0.3,0.2-0.5,0.3-0.8,0.3c-0.2,0-0.4-0.1-0.5-0.3c-0.1-0.2-0.1-0.5-0.1-1c0-0.4,0-0.8,0.1-1
            c0.1-0.2,0.2-0.3,0.5-0.3c0.2,0,0.3,0.1,0.6,0.2l0.3-0.8c-0.1-0.1-0.3-0.2-0.5-0.2c-0.2,0-0.3-0.1-0.5-0.1c-0.5,0-0.9,0.2-1.1,0.5
            c-0.2,0.4-0.4,0.9-0.4,1.7c0,0.7,0.1,1.2,0.4,1.6c0.3,0.4,0.6,0.5,1.1,0.5C78,37.5,78.3,37.4,78.5,37.3z M81.7,37.4v-2.8
            c0-0.5-0.1-0.8-0.3-1.1c-0.2-0.3-0.6-0.4-1-0.4c-0.5,0-0.9,0.1-1.4,0.4l0.3,0.7c0.3-0.2,0.6-0.3,0.9-0.3c0.3,0,0.5,0.2,0.5,0.6v0.3
            l-0.6,0c-0.5,0-0.8,0.1-1.1,0.4c-0.2,0.2-0.4,0.5-0.4,1c0,0.4,0.1,0.7,0.3,1c0.2,0.2,0.4,0.3,0.7,0.3c0.2,0,0.4,0,0.6-0.1
            c0.2-0.1,0.3-0.3,0.5-0.5h0l0.2,0.6H81.7z M79.7,36.2c0-0.2,0.1-0.4,0.2-0.5c0.1-0.1,0.3-0.2,0.5-0.2l0.3,0v0.4
            c0,0.3-0.1,0.5-0.2,0.7c-0.1,0.2-0.3,0.2-0.4,0.2C79.9,36.7,79.7,36.5,79.7,36.2z M87.5,37.4v-2.7c0-0.5-0.1-0.9-0.3-1.1
            c-0.2-0.3-0.5-0.4-0.8-0.4c-0.5,0-0.8,0.2-1,0.7h0c-0.2-0.5-0.5-0.7-1-0.7c-0.2,0-0.4,0-0.6,0.1c-0.2,0.1-0.3,0.3-0.4,0.5h-0.1
            l-0.1-0.5h-0.8v4.2h1v-2c0-0.5,0-0.9,0.1-1.1c0.1-0.2,0.3-0.3,0.5-0.3c0.3,0,0.5,0.3,0.5,0.9v2.5h1v-2c0-0.5,0-0.8,0.1-1.1
            c0.1-0.2,0.3-0.3,0.5-0.3c0.3,0,0.5,0.3,0.5,0.9v2.5H87.5z M90.9,36.9c0.2-0.4,0.3-0.9,0.3-1.6c0-0.7-0.1-1.2-0.3-1.6
            c-0.2-0.4-0.5-0.6-0.9-0.6c-0.4,0-0.7,0.2-0.9,0.6h0l-0.2-0.5h-0.8v6.1h1v-1.7c0-0.1,0-0.3-0.1-0.6h0.1c0.1,0.2,0.3,0.4,0.4,0.4
            c0.1,0.1,0.3,0.1,0.5,0.1C90.3,37.5,90.6,37.3,90.9,36.9z M90,34.3c0.1,0.2,0.1,0.5,0.1,1c0,0.9-0.2,1.3-0.5,1.3
            c-0.2,0-0.3-0.1-0.4-0.3c-0.1-0.2-0.1-0.5-0.1-1v-0.1c0-0.4,0.1-0.7,0.1-0.9c0.1-0.2,0.2-0.3,0.4-0.3C89.8,34,90,34.1,90,34.3z
            M63.1,18.3v16.2h-9.9V18.3H63.1z M57.3,24.3h-1.4V30h1.4V24.3z M57.4,22.8c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.2-0.5-0.2
            c-0.2,0-0.4,0.1-0.6,0.2c-0.1,0.1-0.2,0.3-0.2,0.5c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.5-0.2
            C57.3,23.2,57.4,23,57.4,22.8z M61,28.8c-0.2,0.1-0.4,0.1-0.6,0.1c-0.3,0-0.5-0.2-0.5-0.6v-3h1v-1.1h-1v-1.2H59l-0.3,1.2L58,24.8
            v0.6h0.6v3c0,0.6,0.1,1,0.4,1.3c0.2,0.3,0.6,0.4,1.1,0.4c0.4,0,0.8-0.1,1-0.2V28.8z M29.7,33.5H18.6v1.7h11.1V33.5z"/>
            <rect fill="none" width="106.1" height="54"/>
          </svg>
        </figure>
      </a>
    </div>
    <div class="col-xs-4 text-center">
      <a target="_blank" href="/">
        <figure>

          <svg version="1.1"  x="50%" y="50%" width="77.6px" height="54px" viewBox="0 0 77.6 54" enable-background="new 0 0 77.6 54" xml:space="preserve">
          <g>
            <path fill="#9B9B9B" d="M22.6,11.1l-0.2-0.2c0.2-0.1,0.3-0.3,0.5-0.4l0.2,0.2C22.9,10.8,22.8,10.9,22.6,11.1z M19.4,14.9l-0.3-0.2
            c-0.1,0.2-0.2,0.4-0.3,0.5l0.3,0.2C19.1,15.2,19.3,15.1,19.4,14.9z M16.8,19.9l-0.3-0.1c-0.1,0.2-0.1,0.4-0.2,0.6l0.3,0.1
            C16.7,20.3,16.7,20.1,16.8,19.9z M16.2,21.7l-0.3-0.1c-0.1,0.2-0.1,0.4-0.2,0.6l0.3,0.1C16.1,22.1,16.2,21.9,16.2,21.7z M32.9,5.3
            L32.8,5c-0.2,0.1-0.4,0.1-0.6,0.2l0.1,0.3C32.5,5.4,32.7,5.3,32.9,5.3z M31.1,5.8L31,5.5c-0.2,0.1-0.4,0.1-0.6,0.2l0.1,0.3
            C30.7,6,30.9,5.9,31.1,5.8z M36.3,26.5v-0.4c0-0.9-0.4-1.5-1.4-1.5c-1,0-1.4,0.6-1.4,1.5v3c0,0.9,0.4,1.5,1.4,1.5
            c1,0,1.4-0.6,1.4-1.5v-1.6H35v0.4h0.9v1.3c0,0.6-0.3,1.1-1,1.1c-0.7,0-1-0.5-1-1.1V26c0-0.6,0.3-1.1,1-1.1c0.7,0,1,0.5,1,1.1v0.5
            H36.3z M26,8.3l-0.2-0.3c-0.2,0.1-0.4,0.2-0.5,0.4l0.2,0.3C25.7,8.6,25.9,8.4,26,8.3z M24.5,9.4l-0.2-0.2c-0.2,0.1-0.3,0.3-0.5,0.4
            L24,9.8C24.2,9.7,24.3,9.5,24.5,9.4z M27.6,7.4l-0.2-0.3c-0.2,0.1-0.4,0.2-0.6,0.3l0.2,0.3C27.3,7.6,27.5,7.5,27.6,7.4z M15.6,31.1
            l-0.3,0c0,0.2,0.1,0.4,0.1,0.6l0.3-0.1C15.7,31.6,15.7,31.3,15.6,31.1z M17,18.6l0.3,0.1c0.1-0.2,0.2-0.4,0.3-0.6L17.2,18
            C17.2,18.2,17.1,18.4,17,18.6z M15.8,23.5l-0.3-0.1c0,0.2-0.1,0.4-0.1,0.6l0.3,0C15.7,24,15.8,23.8,15.8,23.5z M18.5,40.1
            c0.1,0.2,0.2,0.4,0.3,0.5l0.3-0.2c-0.1-0.2-0.2-0.4-0.3-0.5L18.5,40.1z M17.6,38.4c0.1,0.2,0.2,0.4,0.3,0.6l0.3-0.1
            c-0.1-0.2-0.2-0.4-0.3-0.6L17.6,38.4z M16.1,34.9c0.1,0.2,0.1,0.4,0.2,0.6l0.3-0.1c-0.1-0.2-0.1-0.4-0.2-0.6L16.1,34.9z M16.8,36.7
            c0.1,0.2,0.2,0.4,0.2,0.6l0.3-0.1c-0.1-0.2-0.2-0.4-0.2-0.6L16.8,36.7z M15.5,25.4l-0.3,0c0,0.2,0,0.4-0.1,0.6l0.3,0
            C15.5,25.8,15.5,25.6,15.5,25.4z M15.7,33.1c0,0.2,0.1,0.4,0.1,0.6l0.3-0.1C16.1,33.4,16,33.2,16,33L15.7,33.1z M15.4,27.9
            c0-0.2,0-0.4,0-0.6l-0.3,0c0,0.2,0,0.4,0,0.6l0,0.1L15.4,27.9L15.4,27.9z M37.2,24.6v4.5c0,0.9,0.4,1.5,1.4,1.5
            c1,0,1.4-0.7,1.4-1.5v-4.5h-0.4v4.5c0,0.6-0.3,1.1-1,1.1c-0.7,0-1-0.5-1-1.1v-4.5H37.2z M15.5,29.3l-0.3,0c0,0.2,0,0.4,0,0.6l0.3,0
            C15.5,29.7,15.5,29.5,15.5,29.3z M17.8,16.9l0.3,0.1c0.1-0.2,0.2-0.4,0.3-0.6l-0.3-0.2C18,16.5,17.9,16.7,17.8,16.9z M54.3,10
            c-0.2-0.1-0.3-0.3-0.5-0.4l-0.2,0.2c0.2,0.1,0.3,0.3,0.5,0.4L54.3,10z M55.2,26.2V26c0-0.9-0.4-1.5-1.4-1.5c-1,0-1.4,0.6-1.4,1.5
            c0,1.7,2.4,1.7,2.4,3.1c0,0.6-0.3,1.1-1,1.1c-0.7,0-1-0.5-1-1.1v-0.3h-0.4v0.3c0,0.9,0.4,1.5,1.4,1.5c1,0,1.4-0.6,1.4-1.5
            c0-1.6-2.4-1.7-2.4-3.1c0-0.6,0.3-1.1,1-1.1c0.7,0,1,0.5,1,1.1v0.2H55.2z M58.1,14.2c-0.1-0.2-0.2-0.3-0.4-0.5l-0.3,0.2
            c0.1,0.2,0.2,0.3,0.4,0.5L58.1,14.2z M51.2,7.7c-0.2-0.1-0.4-0.2-0.5-0.3l-0.2,0.3C50.6,7.8,50.8,7.9,51,8L51.2,7.7z M52.8,8.8
            c-0.2-0.1-0.3-0.2-0.5-0.4l-0.2,0.3c0.2,0.1,0.3,0.2,0.5,0.4L52.8,8.8z M59.1,15.8c-0.1-0.2-0.2-0.4-0.3-0.5l-0.3,0.2
            c0.1,0.2,0.2,0.4,0.3,0.5L59.1,15.8z M62,24.7l0.3,0c0-0.2-0.1-0.4-0.1-0.6l-0.3,0.1C61.9,24.3,61.9,24.5,62,24.7z M49.5,6.8
            c-0.2-0.1-0.4-0.2-0.6-0.3l-0.1,0.3C49,6.9,49.2,7,49.4,7.1L49.5,6.8z M62.1,26.6l0.3,0c0-0.2,0-0.4,0-0.6l-0.3,0
            C62.1,26.2,62.1,26.4,62.1,26.6z M60.8,19.2c-0.1-0.2-0.2-0.4-0.2-0.6l-0.3,0.1c0.1,0.2,0.2,0.4,0.2,0.6L60.8,19.2z M61.5,21
            c-0.1-0.2-0.1-0.4-0.2-0.6L61,20.5c0.1,0.2,0.1,0.4,0.2,0.6L61.5,21z M61.9,22.8c0-0.2-0.1-0.4-0.1-0.6l-0.3,0.1
            c0.1,0.2,0.1,0.4,0.1,0.6L61.9,22.8z M32.8,22.9h3.1v-1.5c0-1.6,0.6-2.2,1.6-2.2c1,0,1.6,0.6,1.6,2.2v1.5h3.1v-1.3
            c0-3.5-1.7-5.5-4.7-5.5c-3.1,0-4.7,2-4.7,5.5V22.9z M42.3,4.5c-0.2,0-0.4-0.1-0.6-0.1l0,0.3c0.2,0,0.4,0.1,0.6,0.1L42.3,4.5z
            M40.4,4.3c-0.2,0-0.4,0-0.6,0l0,0.3c0.2,0,0.4,0,0.6,0L40.4,4.3z M38.5,4.5l0-0.3c-0.2,0-0.4,0-0.6,0l0,0.3
            C38,4.5,38.2,4.5,38.5,4.5z M34.7,4.9l-0.1-0.3c-0.2,0-0.4,0.1-0.6,0.1L34.1,5C34.3,5,34.5,4.9,34.7,4.9z M36.6,4.6l0-0.3
            c-0.2,0-0.4,0-0.6,0.1l0,0.3C36.2,4.7,36.4,4.7,36.6,4.6z M44.1,4.8c-0.2,0-0.4-0.1-0.6-0.1L43.4,5c0.2,0,0.4,0.1,0.6,0.1L44.1,4.8
            z M47.8,6c-0.2-0.1-0.4-0.2-0.6-0.2L47.1,6c0.2,0.1,0.4,0.2,0.6,0.2L47.8,6z M46,5.3c-0.2-0.1-0.4-0.1-0.6-0.2l-0.1,0.3
            c0.2,0.1,0.4,0.1,0.6,0.2L46,5.3z M44,22.9h3.1v-1.5c0-1.6,0.6-2.2,1.6-2.2c1,0,1.6,0.6,1.6,2.2v1.5h3.1v-1.3
            c0-3.5-1.7-5.5-4.7-5.5c-3.1,0-4.7,2-4.7,5.5V22.9z M46.4,30.6V25h1.4v-0.4h-3.1V25h1.3v5.6H46.4z M50.1,24.6l1.5,6h-0.4l-0.3-1.3
            h-2.1l-0.3,1.3H48l1.4-6H50.1z M50.7,28.9l-1-3.9l-1,3.9H50.7z M58.5,27.2c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7s0.7-0.3,0.7-0.7
            S58.9,27.2,58.5,27.2z M53.1,46.4l0.2,0.2c0.2-0.1,0.3-0.3,0.5-0.4L53.6,46C53.5,46.1,53.3,46.3,53.1,46.4z M51.6,47.5l0.2,0.3
            c0.2-0.1,0.4-0.2,0.5-0.4l-0.2-0.3C51.9,47.3,51.8,47.4,51.6,47.5z M55,11c0.2,0.1,0.3,0.3,0.4,0.4l0.2-0.2
            c-0.1-0.2-0.3-0.3-0.5-0.4L55,11z M50,48.4l0.2,0.3c0.2-0.1,0.4-0.2,0.6-0.3l-0.2-0.3C50.4,48.2,50.2,48.3,50,48.4z M42.9,50.9
            l0.1,0.3c0.2,0,0.4-0.1,0.6-0.1l-0.1-0.3C43.3,50.9,43.1,50.9,42.9,50.9z M48.3,49.3l0.1,0.3c0.2-0.1,0.4-0.2,0.6-0.3L48.9,49
            C48.7,49.1,48.5,49.2,48.3,49.3z M43.5,29.6l-2-5h-0.6v6h0.4v-5.3l2.1,5.3h0.5v-6h-0.4V29.6z M48.8,38.4c3.1,0,4.7-2,4.7-5.5v-1.3
            h-3.1v1.5c0,1.6-0.6,2.2-1.6,2.2c-1,0-1.6-0.6-1.6-2.2v-1.5H44v1.3C44,36.4,45.7,38.4,48.8,38.4z M44.8,50.5l0.1,0.3
            c0.2-0.1,0.4-0.1,0.6-0.2l-0.1-0.3C45.2,50.4,45,50.5,44.8,50.5z M55.9,43.9l0.2,0.2c0.1-0.2,0.3-0.3,0.4-0.5l-0.2-0.2
            C56.2,43.5,56,43.7,55.9,43.9z M46.6,50l0.1,0.3c0.2-0.1,0.4-0.1,0.6-0.2l-0.1-0.3C47,49.8,46.8,49.9,46.6,50z M54.6,45.2l0.2,0.2
            c0.2-0.1,0.3-0.3,0.5-0.4L55,44.7C54.9,44.9,54.7,45,54.6,45.2z M61.8,32.2l0.3,0.1c0-0.2,0.1-0.4,0.1-0.6l-0.3,0
            C61.9,31.8,61.8,32,61.8,32.2z M61.4,34.1l0.3,0.1c0.1-0.2,0.1-0.4,0.2-0.6l-0.3-0.1C61.5,33.7,61.4,33.9,61.4,34.1z M62,30.4
            l0.3,0c0-0.2,0-0.4,0.1-0.6l-0.3,0C62.1,30,62.1,30.2,62,30.4z M62.5,27.9h-0.3l0,0c0,0.2,0,0.4,0,0.6l0.3,0
            C62.5,28.3,62.5,28.1,62.5,27.9L62.5,27.9z M60.8,35.9l0.3,0.1c0.1-0.2,0.1-0.4,0.2-0.6L61,35.3C60.9,35.5,60.9,35.7,60.8,35.9z
            M19.9,27.9c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7C19.6,28.6,19.9,28.3,19.9,27.9z M58.2,40.9l0.3,0.2
            c0.1-0.2,0.2-0.4,0.3-0.5l-0.3-0.2C58.5,40.6,58.4,40.7,58.2,40.9z M60.1,37.6l0.3,0.1c0.1-0.2,0.2-0.4,0.3-0.6L60.3,37
            C60.2,37.2,60.2,37.4,60.1,37.6z M57.1,42.4l0.2,0.2c0.1-0.2,0.3-0.3,0.4-0.5l-0.3-0.2C57.4,42.1,57.3,42.3,57.1,42.4z M59.2,39.3
            l0.3,0.2c0.1-0.2,0.2-0.4,0.3-0.6l-0.3-0.1C59.4,38.9,59.3,39.1,59.2,39.3z M59.5,17c0.1,0.2,0.2,0.4,0.3,0.6l0.3-0.1
            c-0.1-0.2-0.2-0.4-0.3-0.6L59.5,17z M56.3,12.4c0.1,0.2,0.3,0.3,0.4,0.5l0.2-0.2c-0.1-0.2-0.3-0.3-0.4-0.5L56.3,12.4z M23.4,45.9
            c0.2,0.1,0.3,0.3,0.5,0.4l0.2-0.2c-0.2-0.1-0.3-0.3-0.5-0.4L23.4,45.9z M39.2,33.1c0,1.6-0.6,2.2-1.6,2.2c-1,0-1.6-0.6-1.6-2.2
            v-1.5h-3.1v1.3c0,3.5,1.7,5.5,4.7,5.5c3.1,0,4.7-2,4.7-5.5v-1.3h-3.1V33.1z M23.7,28.1h-0.8v2.5h-0.4v-6h1.4c1,0,1.4,0.6,1.4,1.4
            v0.6C25.2,27.6,24.8,28.1,23.7,28.1z M22.9,27.7h0.8c0.8,0,1.1-0.3,1.1-1V26c0-0.6-0.2-1.1-1-1.1h-0.9V27.7z M26.5,48.2
            c0.2,0.1,0.4,0.2,0.5,0.3l0.2-0.3c-0.2-0.1-0.4-0.2-0.5-0.3L26.5,48.2z M28.1,49.1c0.2,0.1,0.4,0.2,0.6,0.3l0.1-0.3
            c-0.2-0.1-0.4-0.2-0.6-0.3L28.1,49.1z M27.9,27.7c0.7,0.1,1,0.6,1,1.2v0.9c0,0.2,0,0.5,0.2,0.7h-0.5c-0.1-0.2-0.1-0.4-0.1-0.7v-0.9
            c0-0.8-0.5-1-1.2-1h-0.7v2.7h-0.4v-6h1.4c1,0,1.4,0.5,1.4,1.3v0.5C28.9,27.2,28.6,27.6,27.9,27.7z M28.5,26c0-0.6-0.3-1-1-1h-0.9
            v2.6h0.7c0.8,0,1.2-0.2,1.2-1V26z M19.9,13.7l0.3,0.2c0.1-0.2,0.3-0.3,0.4-0.5l-0.2-0.2C20.1,13.3,20,13.5,19.9,13.7z M19.5,41.7
            c0.1,0.2,0.2,0.3,0.4,0.5l0.3-0.2c-0.1-0.2-0.2-0.3-0.4-0.5L19.5,41.7z M22,44.6c0.1,0.2,0.3,0.3,0.5,0.4l0.2-0.2
            c-0.2-0.1-0.3-0.3-0.4-0.4L22,44.6z M20.7,43.2c0.1,0.2,0.3,0.3,0.4,0.5l0.2-0.2c-0.1-0.2-0.3-0.3-0.4-0.5L20.7,43.2z M21.1,12.2
            l0.2,0.2c0.1-0.2,0.3-0.3,0.4-0.5l-0.2-0.2C21.3,11.9,21.2,12,21.1,12.2z M24.9,47.1c0.2,0.1,0.3,0.2,0.5,0.4l0.2-0.3
            c-0.2-0.1-0.3-0.2-0.5-0.4L24.9,47.1z M35.4,51.4c0.2,0,0.4,0.1,0.6,0.1l0-0.3c-0.2,0-0.4-0.1-0.6-0.1L35.4,51.4z M37.3,51.6
            c0.2,0,0.4,0,0.6,0l0-0.3c-0.2,0-0.4,0-0.6,0L37.3,51.6z M41.1,51.2l0,0.3c0.2,0,0.4,0,0.6-0.1l0-0.3
            C41.5,51.1,41.3,51.2,41.1,51.2z M33.5,51c0.2,0,0.4,0.1,0.6,0.1l0.1-0.3c-0.2,0-0.4-0.1-0.6-0.1L33.5,51z M26.2,38.2h3.1v-6.6
            h-3.1V38.2z M39.2,51.3l0,0.3c0.2,0,0.4,0,0.6,0l0-0.3C39.6,51.3,39.4,51.3,39.2,51.3z M28.6,6.5l0.1,0.3c0.2-0.1,0.4-0.2,0.6-0.3
            l-0.1-0.3C29,6.3,28.8,6.4,28.6,6.5z M29.9,30.6h2.6v-0.4h-2.2v-2.5h1.8v-0.4h-1.8V25h2.2v-0.4h-2.6V30.6z M23.7,19.1v2.4h2.4v1.4
            h3.1v-6.6h-2.1C26.7,17.8,26.2,19.1,23.7,19.1z M31.7,50.5c0.2,0.1,0.4,0.1,0.6,0.2l0.1-0.3c-0.2-0.1-0.4-0.1-0.6-0.2L31.7,50.5z
            M29.9,49.9c0.2,0.1,0.4,0.2,0.6,0.2l0.1-0.3c-0.2-0.1-0.4-0.2-0.6-0.2L29.9,49.9z"/>
          </g>
          <rect x="0" fill="none" width="77.6" height="54"/>
        </svg>
      </figure>
    </a>
  </div>
</div>
</div>
</footer>
